<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<main>
   <h2>Products page</h2>
   <% if (hasProducts) { %>
   <ul>
      <% products.forEach(function(prod){ %>
      <li><%= prod.title %></li>
      <% }); %>
   </ul>
   <% } else { %>
   <p>No products...</p>
   <% } %>
</main>
<%- include('includes/footer.ejs') %>